!/.gitignore
CMakeCache.txt
CMakeFiles
Makefile
config.h
install_manifest.txt
libalpha00.a
libalphaframework.a
strat
temp
cmake_install.cmake
cmake_uninstall.cmake
1
.*
software/TestRuns/
software/TestScripts/

*.log
*.pyc
*.cfg
.DS_Store

.env
.venv
env/
venv/
env.bak/
venv.bak/

lib/
lib64/
log/
results/
share/
__pycache__/
bin/
test/
include/
.idea/

pythoncore/

